<div class="container-fluid">
	<div class="container" id="content_holder">
		<main>
			<% if (!meta.isLoggedIn) { %>
				<%- include('partials/login.ejs') %>
			<% } else { %>
				<%- include('partials/quickPost.ejs') %>
			<% } %>
			<hr>
			<section id="recent_questions" class="rounded">
				<header>
					<h3>Recent Questions</h3>
				</header>
				<% for (let i = 0; i < questions.length; i++) { %>
					<article id="<%= questions[i].createdBy %>_question" class="recent_inquisition">
						<header class="author"><%= questions[i].createdBy %> asked <%= questions[i].lastModifiedDate.toLocaleString() %></header>
						<small class="inquest">
							<%= questions[i].summary %><br />
							<%= questions[i].content.slice(0, 300) %> ...
						</small>
						<hr>
					</article>
				<% } %> 
			</section>
			<section id="recent_answers" class="rounded">
				<header>
					<h3>Recent Answers</h3>
				</header>
				<% for (let i = 0; i < answers.length; i++) { %>
					<article id="<%= answers[i].createdBy %>_answer" class="recent_answers">
						<header class="author"><%= answers[i].createdBy %> asked <%= answers[i].lastModifiedDate.toLocaleString() %></header>
						<small class="inquest">
							<%= answers[i].summary %><br />
							<%= answers[i].content.slice(0, 300) %> ...
						</small>
						<hr>
					</article>
				<% } %> 
			</section>
			<%- include ('partials/categories') %>
			</hr>
		</main>
	</div>
</div>
