<div class="container-fluid">
	<main>
		<div class="container" id="content_holder">
			<section id="question">
				<div id="question_container">
					<div id="question_content">
						<header id="question_short">
							<h3><%= data.dataValues.summary %> </h3>
						</header>
						<article id="content">
							<p><%= data.dataValues.content %></p>
						</article>
						<article id="stats">
							<p><span>Created by <a
										href="/users/<%= data.dataValues.createdBy %>"><%= data.dataValues.createdBy %></a></span>,
								<span>Inquired
									<time><%= data.dataValues.createdAt.toLocaleString() %></time></span><span><% if (meta.userIsLoggedIn && meta.loggedInUser == data.dataValues.createdBy) { %>
									<form method="POST" action="/inquire/<%= data.dataValues.id %>/?_method=DELETE">
										<span><button name="deleteQuestion" id="delete_question" class="btn btn-link"
												role="button">Delete</button></span>
									</form>
									<% } %></span></p>
							<% const editData = data.dataValues.id %>
						</article>
					</div>
				</div>
			</section>
			<hr>
			<section id="answers">
				<header>
					<h3>Answers</h3>
				</header>
				<% for (let i = 0; i < data2.length; i++ ) { %>
				<section>
					<div class="answer_container">
						<div class="answer_content">
							<%= data2[i].dataValues.createdBy %> answered
							<time><%= data2[i].dataValues.createdAt.toLocaleString() %></time>
							<% if (meta.userIsLoggedIn && meta.loggedInUser == data.dataValues.createdBy) { %>
							<span><button name="editAnswer" id="edit_answer" class="btn btn-link"
									role="button">Edit</button></span>
							<% } %></p>
							<article id="answer_content">
								<p><%= data2[i].dataValues.content %></p>
							</article>
						</div>
					</div>
				</section>
				<hr>
				<% } %>
			</section>
		</div>
		<% if (meta.userIsLoggedIn && meta.loggedInUser == data.dataValues.createdBy) { %>
		<div id="edit">
			<form  method="POST" action="/inquire/<%= data.dataValues.id %>/?_method=PUT">
				<div class="form-group">
					<div class="container" id="sum_container">
						<label for="summary">Summary: </label>
						<input class="form-control" type="text" name="summary" id="summary" aria-describedby="summary"
							value="<%= data.dataValues.summary %>">
					</div>
					<div class="container" id="detail_container">
						<label for="details"> Edit details:</label>
						<textarea type="text" class="form-control" id="details" aria-describedby="detail_help"
							cols="25" rows="10"><%= data.dataValues.content %></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
		<% } %>
	</main>
</div>